.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
}



@media screen and (max-width: 767px) { 
    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .modal__title {
        text-align: center;

        width: 370px;
       
    }
        
    }


    @media screen and (min-width: 768px) { 
        .modal {
            width: 450px;
        }

        .modal__title {
            text-align: center;
        }


    }





@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
    }

    .modal__title {
        font-size: 20px;
        line-height: 1.15;
    }
   
    


}



