
  @media screen and (min-width: 1200px) {

    .hero {
        max-width: 1600px;
    }

    .hero { 
        background-color: #C4C4C4;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('/images/desktop/hero/Img.jpg');
        
        background-size: 1200px;



    }



 @media (main-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-color: #C4C4C4;
            background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('/images/desktop/hero/Img@2x.jpg');
            
            background-size: 1200px;

           
           
        }
    }
}






@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .hero { 
        background-color: #C4C4C4;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../images/tablet/hero/headerimg.jpg');
        
        background-size: cover;
    }
    @media (main-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-color: #C4C4C4;
            background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../images/tablet/hero/headerimg@2x.jpg');
            
            background-size: cover;
           
        }
    }
}

// cxc







@media screen and (max-width: 767px) {
    .hero { 
        background-color: #C4C4C4;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../images/mob/hero/headerimg.jpg');
        
        background-size: cover;
    }
    @media (main-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-color: #C4C4C4;
            background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../images/mob/hero/headerimg@2x.jpg');
            
            background-size: cover;
           
        }
    }
}





.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 118px;
    padding-bottom: 118px;

}







    .hero__title {
        text-align: center;
        margin-bottom: 30px;



        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;

        min-width: 290px;
        max-width: 470px;

        color: #FFFFFF;

    }




    .hero__btn {
        width: 200px;
        height: 50px;
    }




   





  




















@media screen and (min-width: 1200px) {

    .conteiner-hero {
        min-width: 1200px;
        max-width: 1600px;
    }



    .hero {
    padding: 200px 0px;

    justify-content: center;

     }

    .hero__title {
       max-width: 696px;
       font-weight: 900;
       font-size: 44px;
       line-height: 1.36;
        }

        .hero__btn {
            width: 216px;
           
        }

          
}
















// .hero {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 1600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-color: #C4C4C4;
//     background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/hero/hero.png);
//     background-size: cover;
    
//     &__title {
//     text-align: center;
//     width: 696px;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     color: var(--white-color);
//     margin-bottom: 30px;
//     }

//     &__btn {
//     width: 216px;
//     height: 50px;
//     }