.peculiarity {
    padding-top: 60px;
    padding-bottom: 30px;



&__title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.03em;
}

&__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

&__img {
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

   &__img--dec {
    background-color: var(--bck-portfolio);
   }



}



@media screen and (max-width: 767px) {
    .peculiarity {
    display: flex;
    flex-direction: column;
    
     
    &-group:not(:last-child) {
       margin-bottom: 30px;
     }

    

  

               &__img--dec {
                background-color: var(--bck-portfolio);
                min-width: 450px;
                height: 120px;
                }

      &__title {  
           display: flex;
           align-items: center;
           justify-content: center;
            }
        
      &__text {
           min-width: 450px;
            }
    }


}








@media screen and (min-width: 768px) { 
    .peculiarity {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 30px;

      padding-bottom: 60px;

     


      &-group {
        display: flex;
        flex-direction: column;
        width: 47%;
      }

    
    }



}









// .peculiarity {
//     display: flex;


//     &-group {
//     padding-top: 94px;
//     padding-bottom: 47px;
//     gap: 30px;
//     }

//     &__img {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-left: 100px;
//     padding-right: 100px;
//     margin-bottom: 30px;
//     border-radius: 4px;
//     }

//         &__img--dec {
//         background-color: var(--bck-portfolio);
//         width: 270px;
//         height: 120px;
//         }
          
//     &__title {
//     font-size: 14px;
//     line-height: 1.2;
//     margin-bottom: 10px;
//     }

//     &__text {
//     width: 255px;
//     color: var(--primary-text-color);
//     font-size: 14px;
//     line-height: 1.7;
//     }

// }

