.team {
       background-color: #F5F4FA;
       padding-bottom: 60px;
       padding-top: 60px;

          &__title{
          display: block;
          text-align: center;
          font-size: 28px;
          line-height: 1.17;
          margin-bottom: 30px;
          letter-spacing: 0.03em;
          }


          &__name {
                margin-bottom: 10px;
                }
            
                   &__name--dec {
                   font-size: 16px;
                   line-height: 1.2;
                   font-weight: 500;
                   }
            
             &__job {
                text-align: center;
             }
            
                   &__job--dec {
                   color: var(--primary-text-color);
                   font-size: 16px;
                   line-height: 1.2;
                   }


   
             &__box {
               box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
               border-radius: 0px 0px 4px 4px;
               
             }


             &__info--dec {
               background-color: var(--white-color);
               }


            }


            .team-conteiner {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
            }

           

@media screen and (max-width: 767px) { 

   
        .team__group {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        
      
        .team__box {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         width: 450px;

          }

          .team__box:not(:last-child) {
            margin-bottom: 30px;
          }

      
        .team__info {
          width: 450px;
          text-align: center;
          padding-top: 30px;
          }
      
        


}





@media screen and (min-width: 768px) { 
   .team__group {   
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 768px;
      gap: 30px;
      row-gap: 30px;
   }



      .team__box {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 354px;
      }
   
      .team__info {
         width: 354px;
         text-align: center;
         padding-top: 30px;
         }

      }




// @media screen and (max-width: 1199px) { 
//    .team__group {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       flex-wrap: wrap;}



// }




@media screen and (min-width: 1200px) { 

   .team {
      padding-top: 94px;
      padding-bottom: 94px;


  
   
   &__group {
    
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;

      gap: 5%;
      width: 1200px;
   }
   
   &__title{
          font-size: 36px;
          line-height: 1.2;
          margin-bottom: 50px;
          }

     &__box { 
          width: 270px;
         }

     &__info {
       width: 270px;
      text-align: center;
       padding-top: 30px;
            }

}


}

// .team {
//     background-color: #F5F4FA;
//     padding-bottom: 94px;



//     &__title{
//     display: block;
//     text-align: center;
//     font-size: 36px;
//     line-height: 1.2;
//     margin-bottom: 50px;
//     padding-top: 94px;
//     }

//     &__group {
//     display: flex;
//     gap: 30px;
//     }

//     &__box {
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     }

//     &__info {
//     text-align: center;
//     padding-top: 30px;
//     }

//        &__info--dec {
//        background-color: var(--white-color);
//        }

//     &__name {
//     margin-bottom: 10px;
//     }

//        &__name--dec {
//        font-size: 16px;
//        line-height: 1.2;
//        font-weight: 500;
//        }

//     &__job {
//     text-align: center;
//     }

//        &__job--dec {
//        color: var(--primary-text-color);
//        font-size: 16px;
//        line-height: 1.2;
//        }

// }